@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  1. Theme variables - Choose your font family, font weights, color hue values and spacing.
  2. Color Palette   - Create any shade from your color hue value (0 = darkest, 100 = lightest).
                       ⭐ Use: color($color-hue, 50);
  3. Typography      - Change group or individual typography styles.
                       ⭐ Use: .element-class-name { @extend .bw-typography--subtitle1; }
  4. Drop Shadows    - Box shadows for creating natural drop-shadow depths.
                       ⭐ Use: .element-class-name { @extent .bw-drop-shadow3; }
*/
body {
  font-family: "Roboto", sans-serif;
}

.bw-typography--heading1, .bw-typography--heading2 {
  font-weight: 300;
}
.bw-typography--heading6, .bw-typography--subtitle2, .bw-typography--button {
  font-weight: 500;
}
.bw-typography--button, .bw-typography--overline {
  text-transform: uppercase;
}
.bw-typography--heading1 {
  font-size: 6rem;
  line-height: 6rem;
}
.bw-typography--heading2 {
  font-size: 3.75rem;
  line-height: 3.75rem;
}
.bw-typography--heading3 {
  font-size: 3rem;
  line-height: 3.125rem;
}
.bw-typography--heading4 {
  font-size: 2.125rem;
  line-height: 2.5rem;
}
.bw-typography--heading5 {
  font-size: 1.5rem;
  line-height: 2rem;
}
.bw-typography--heading6 {
  font-size: 1.25rem;
  line-height: 2rem;
}
.bw-typography--subtitle1 {
  line-height: 1.75rem;
}
.bw-typography--subtitle2 {
  font-size: 0.875rem;
  line-height: 1.375rem;
}
.bw-typography--body1 {
  line-height: 1.5rem;
}
.bw-typography--body2 {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.bw-typography--button {
  font-size: 0.875rem;
  line-height: 2.25rem;
}
.bw-typography--caption {
  font-size: 0.75rem;
  line-height: 1.25rem;
}
.bw-typography--overline {
  font-size: 0.625rem;
  line-height: 2rem;
}

.bw-shadow1 {
  box-shadow: #e0e0e0 0 2px 1px -1px, #c2c2c2 0 1px 1px 0, #bdbdbd 0 1px 3px 0;
}

.bw-shadow2 {
  box-shadow: #e0e0e0 0 2px 4px -1px, #c2c2c2 0 4px 5px 0, #bdbdbd 0 1px 10px 0;
}

.bw-shadow3 {
  box-shadow: #e0e0e0 0 3px 5px -1px, #c2c2c2 0 5px 8px 0, #bdbdbd 0 1px 14px 0;
}

.bw-shadow4 {
  box-shadow: #e0e0e0 0 3px 5px -1px, #c2c2c2 0 6px 10px 0, #bdbdbd 0 1px 18px 0;
}

.bw-shadow5 {
  box-shadow: #e0e0e0 0 5px 5px -3px, #c2c2c2 0 8px 10px 1px, #bdbdbd 0 3px 14px 2px;
}

.bw-shadow6 {
  box-shadow: #e0e0e0 0 6px 7px -4px, #c2c2c2 0 11px 15px 1px, #bdbdbd 0 4px 20px 3px;
}

/*# sourceMappingURL=styles.css.map */
